.container {
    min-width: 80vw;
}

.complete {
    text-decoration: line-through;
}

.listItemContainer {
    display: flex;
    justify-content: space-between;
}

.tasksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

